* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 128px 277px 12px 16px;
    font-style: normal;
    font-weight: 700px;
    font-size: 32px;
    line-height: 41px;
    display: block;
}

.paragraph-01 {
    color: rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0px 16px 102px 16px;
    font-style: normal;
    font-weight: px;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.41px;
}

input {
    display: block;
    margin: 12px auto;
    background: #F2F2F7;
    border-radius: 6px;
    width: 343px;
    Height: 48px;
    border: none;
    font-weight: 300;
    font-size: 17px;
}

.input::placeholder {
    padding: 10px;
}

a {
    margin: 17px 16px 20px 236px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    color: #007AFF;
    font-size: 16px;
    line-height: 22px;
}

button {
    color:#FFFFFF;
    background-color: #000000;
    margin: 20px 16px 204px 16px;
    width:343px;
    height:48px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
}

.paragraph-02 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    margin-left: 70px;
    margin-bottom: 20px;
}

strong {
    color: #007AFF;
}
